/* Global Color Variables */
:root {
  /* Primary Colors */
  --blue: #5A7CA7;
  --red: #E96C55;
  --green: #9FBD71;
  --yellow: #EECD45;  
  --white: #F5E7CB;
  --brown: #C3B482;  
  --black: #2E2824;
  
  --side-padding: 20px;
  --vertical-margin: 20px;
}